.App {
    text-align: center;
}

.handCards {
    display: flex;
    gap: 20px;
    justify-content: center;
}

body {
    background: green;
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}